# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Dependencies
node_modules/

# Build
dist/
build/
out/
target/

# Cache / Logs
*.log
.eslintcache
.prettiercache

# Env / Secrets
.env
.env.*
*.key
*.pem